doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Untitled

	body

		p this is a paragraph too

		ul 
			li 1
			li 2
			li 3

		div
			div 
				|more content belongs to parent div

		block content

		div 
			block otherContent

